.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table{
  background-color: aliceblue;
}

.add{
  margin-left: 87%;
  margin-top: -6%;
  position: relative;
  height: 45px;
  width: 12%;
  display: flex;
  background: rgba(255,255,255,0.94);
}

.Addbutton{
  width: 100%;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.button{
  width: 35%;
  margin-left: 10%;
  margin-top: 8%;
  height: 45px;
  background: #173777;
  color: white;
}

.field{
  margin-top: 8%;
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  margin-left: 5%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.text-danger{
   margin-left: 1%;
    font-size: large;
    position: absolute;
    color: #d82929;
}

.row p-0 m-0 w-100{
  margin-left: 1%;
  font-size: large;
  position: absolute;
  color: #d82929;
}

.delete-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.delete-popup-content {
  background-color: #fff;
  padding: 20px;
  color: black;
}

.cancel{
 color: 'black';
 border-color: "black";
}
.gender{
  width: 100%;
}

