.App {
  text-align: center;
}



@import url("https://cdn.syncfusion.com/ej2/material.css");

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table{
  background-color: aliceblue;
  width: 95%;
}

.addSearch{
  margin-left: 1%;
  margin-top: 1%;
  position: relative;
  height: 36px;
  width: 8%;
  display: flex;
  background: rgba(255,255,255,0.94);
  margin-bottom: 1%;

}

.Addbutton{
  margin-left: 1091%;
  width: 100%;
  position: absolute;
  height: 100%;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}

.button{
  width: 35%;
  margin-left: 10%;
  margin-top: 8%;
  height: 45px;
  background: #173777;
  color: white;
}

.field{
  margin-top: 9%;
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  margin-left: 5%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.text-danger{
   margin-left: 1%;
    font-size: large;
    position: absolute;
    color: #d82929;
}

.row p-0 m-0 w-100{
  margin-left: 1%;
  font-size: large;
  position: absolute;
  color: #d82929;
}

.delete-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.delete-popup-content {
  background-color: #fff;
  padding: 20px;
  color: black;
}

.cancel{
 color: 'black';
 border-color: "black";
}
.gender{
  width: 100%;
}


.demo-container1{
  margin-top: 8%;
  width: 100%;
  margin-left: 0%;
  text-align: left;
  background: white;
}

.form-control{
  width: 202%;
  margin-left: -53%;
  height: 4.5vh;
}

.form-group{
  margin-top: 8%;
  position: relative;
  height: 45px;
  width: 100%;
  margin-bottom: 1%;
}

.rangePicker{
  width: 30%;
  /* margin-left: 112px; */
}
/* 
.startEndDateBox{
  height: 1.5%;
    position: absolute;
    width: 294px;
    margin-left: -2%;
}

.dateText{
  text-align: center;
}

.dateClear{
  margin-left: 13%;
    margin-top: 1%;
    position: fixed;
}
.startDate{
  margin-left: 137%;
  margin-top: -13%;
} */

		
.startEndDateBox {

  position: absolute;
  width: 294px;
  margin-left: -2%;
  margin-top: 0px;
}
.dateText{
  text-align: center;
}

.dateClear{
  margin-left: 258px;
    margin-top: 10px;
    position: absolute;
}
.startDate {
  
  margin-left: 93%;
  margin-top: -27px;
}

.dateBox{
  height: 1.5%;
  height: 10px;
}

/* DateRangeFilterControl.css */
.customDatePicker .MuiInputBase-input {
  height: 7px; /* Set your desired height */
}
.action{
  width: 10%;
}
.id{
  width: 1%;
}

.PickDate{
  margin-left: -3%;
   width: 269px;
   height: 3px;
}

.ClearBtn{
  position: absolute;
  top: 64%;
  right: -55px;
  transform: translateY(-50%);
  cursor: pointer;
}
.filter-dropdown{
  width: 133%;
  height: 4vh;
  margin-top: 14%;
  background-color: #f0f8ff;
}
.dropdownfilter{
position:relative;
 display: inline-block;
}
.startDateBox{
  margin-left: 56%;
   width: 35% ;
   margin-top: 5px;
}
.tableLableBox{
  text-align: center;
  font-weight: 800;
   cursor: pointer;
   width: 14% ;
}
.tableLable{
  display: flex;
  align-items: center;
}
.refreshBtn{
  color: black;
   margin-left: 1078%;
}
.tableSort{
  text-align: center;
  font-weight: 800;
   cursor: pointer;
}
.filterBox{
  margin-top: 8px;
  margin-left: -1%;
  width: 76%;
}

.clearTextField{
  margin-left: 4px;
  margin-top: 4%;
}
.noDataText{
  width: 89%;
}
.genderField{
  width: 10%;
}

.pagination-container{
  display: flex;
  list-style: none;
  margin-top: 30px;
}

.pagination-page{
padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
 /* height: 25px; */
}

.pagination-disabled{
  cursor: not-allowed;
  
}

.pagination-active{
border: 2px solid #000;
  font-weight: bold;
}

.pagination-previous{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.pagination-break{
  padding: 10px;
}

.pagination-next{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.delete{
  margin-left: 75px !important;
  margin-top: -58px !important;
}
.edit{
  margin-top:  4% !important;
}

.container{
  display: -webkit-inline-box;
  list-style: none;
}

.page{
padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  height: 17px;
  color: black;
  font-size: large;
  
}

.disabled {
  pointer-events: none; 
  opacity: 1; 
  filter: blur(2px); 
}
.active{
border: 2px solid #000;
  font-weight: bold;
  background: black;
  color: white;
}

.previous{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  color:black;
  margin-top: -1%;
}

.break{
  padding: 10px;
  color: black;

}

.next{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  color:black;
  margin-top: -1%;
}

.pageSize{
  margin-left: -100px;
  height: 36px;
}